@import url('https://fonts.googleapis.com/css?family=Lato');

/* Colors for theme:

$QueenPink: #E5CFEB;
$Glitter: #F1E7FE;
$MediumOrchid: BF55EC;
$DarkOrchid: #A43CBD;
$Onyx: #39263D;

*/
body {
  text-align: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

.calculator {
  border: 3px solid #39263D;
  width: 250px;
  height: 380px;
  text-align: center;
  border-radius: 25px;
  box-shadow: inset 5px 0px 10px -5px #635e61,
              inset -5px 0 10px -5px #635e61,
              inset 0px -5px 10px 0px #635e61,
              0 0 1px 2px #635e61,
              0 0 1px 2px #635e61;

  /*
  box-shadow: 
    inset 5px 0 10px -5px #635e61,
    inset -5px 0 10px -5px #635e61,
    inset 0px -5px 10px -2px #635e61,
    0 0 1px 2px #635e61, 0 0 1px 2px #635e61
  */
}

.calculator #company {
  padding-top: 10px;
  margin-bottom: 10px;
  color: #363636;
}
.calculator #slogan {
  padding-top: 10px;
  margin-bottom: 10px;
  color: #222021;
}

.calculator input[type='text'] {
  background-color: #FDB9C8;
  border: 1px solid #FCA3B7;
  line-height: 40px;
  width: 80%;
  font-size: 2em;
  direction: rtl;
  padding-right: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.calculator row {
  display: block;
}

.calculator .row button {
  width: 40px;
  height: 30px;
  border: 1px solid #B9BBB6;
  border-top: 2px solid #97978F;
  color: white;
  font-size: 1.1em;
  border-radius: 25%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 7.5px;
}

.calculator .row .powerBtn{
  color: MediumOrchid;
}